
@{
    //ViewBag.Title = "Index";
    ViewBag.Empresa = "RR Sistemas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../Content/images/Icons/iconLogin.jpg">
    <!--Custom styles-->
    <link href="~/Content/css/HomeIndex.css" rel="stylesheet" type="text/css" />
</head>
<body background="~/Content/Images/FundoIndex.jpg">
    <div class="Titulo">
        <p>Welcome</p>
    </div>
    <div class="Texto">
        <p>
            We are a company thinking in our customers future offering procedures automation solutions.
        </p>
    </div>

</body>
